src/conf/xml-resources/web-service-references/objCellMatrix/wsdl/localhost_8080/chessServer/objCellMatrix.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com/" name="objCellMatrix">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/chessServer/objCellMatrix?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://com/" schemaLocation="http://localhost:8080/chessServer/objCellMatrix?xsd=2"/>
</xsd:schema>
</types>
<message name="getPlayerCell">
<part name="parameters" element="tns:getPlayerCell"/>
</message>
<message name="getPlayerCellResponse">
<part name="parameters" element="tns:getPlayerCellResponse"/>
</message>
<message name="getPieceCell">
<part name="parameters" element="tns:getPieceCell"/>
</message>
<message name="getPieceCellResponse">
<part name="parameters" element="tns:getPieceCellResponse"/>
</message>
<message name="setPlayerCell">
<part name="parameters" element="tns:setPlayerCell"/>
</message>
<message name="setPlayerCellResponse">
<part name="parameters" element="tns:setPlayerCellResponse"/>
</message>
<message name="resetMatrix">
<part name="parameters" element="tns:resetMatrix"/>
</message>
<message name="resetMatrixResponse">
<part name="parameters" element="tns:resetMatrixResponse"/>
</message>
<message name="objCellMatrix">
<part name="parameters" element="tns:objCellMatrix"/>
</message>
<message name="objCellMatrixResponse">
<part name="parameters" element="tns:objCellMatrixResponse"/>
</message>
<message name="checkWinner">
<part name="parameters" element="tns:checkWinner"/>
</message>
<message name="checkWinnerResponse">
<part name="parameters" element="tns:checkWinnerResponse"/>
</message>
<message name="getPlayerMatrix">
<part name="parameters" element="tns:getPlayerMatrix"/>
</message>
<message name="getPlayerMatrixResponse">
<part name="parameters" element="tns:getPlayerMatrixResponse"/>
</message>
<message name="getPieceMatrix">
<part name="parameters" element="tns:getPieceMatrix"/>
</message>
<message name="getPieceMatrixResponse">
<part name="parameters" element="tns:getPieceMatrixResponse"/>
</message>
<message name="setPieceCell">
<part name="parameters" element="tns:setPieceCell"/>
</message>
<message name="setPieceCellResponse">
<part name="parameters" element="tns:setPieceCellResponse"/>
</message>
<portType name="objCellMatrix">
<operation name="getPlayerCell">
<input wsam:Action="http://com/objCellMatrix/getPlayerCellRequest" message="tns:getPlayerCell"/>
<output wsam:Action="http://com/objCellMatrix/getPlayerCellResponse" message="tns:getPlayerCellResponse"/>
</operation>
<operation name="getPieceCell">
<input wsam:Action="http://com/objCellMatrix/getPieceCellRequest" message="tns:getPieceCell"/>
<output wsam:Action="http://com/objCellMatrix/getPieceCellResponse" message="tns:getPieceCellResponse"/>
</operation>
<operation name="setPlayerCell">
<input wsam:Action="http://com/objCellMatrix/setPlayerCellRequest" message="tns:setPlayerCell"/>
<output wsam:Action="http://com/objCellMatrix/setPlayerCellResponse" message="tns:setPlayerCellResponse"/>
</operation>
<operation name="resetMatrix">
<input wsam:Action="http://com/objCellMatrix/resetMatrixRequest" message="tns:resetMatrix"/>
<output wsam:Action="http://com/objCellMatrix/resetMatrixResponse" message="tns:resetMatrixResponse"/>
</operation>
<operation name="objCellMatrix">
<input wsam:Action="http://com/objCellMatrix/objCellMatrixRequest" message="tns:objCellMatrix"/>
<output wsam:Action="http://com/objCellMatrix/objCellMatrixResponse" message="tns:objCellMatrixResponse"/>
</operation>
<operation name="checkWinner">
<input wsam:Action="http://com/objCellMatrix/checkWinnerRequest" message="tns:checkWinner"/>
<output wsam:Action="http://com/objCellMatrix/checkWinnerResponse" message="tns:checkWinnerResponse"/>
</operation>
<operation name="getPlayerMatrix">
<input wsam:Action="http://com/objCellMatrix/getPlayerMatrixRequest" message="tns:getPlayerMatrix"/>
<output wsam:Action="http://com/objCellMatrix/getPlayerMatrixResponse" message="tns:getPlayerMatrixResponse"/>
</operation>
<operation name="getPieceMatrix">
<input wsam:Action="http://com/objCellMatrix/getPieceMatrixRequest" message="tns:getPieceMatrix"/>
<output wsam:Action="http://com/objCellMatrix/getPieceMatrixResponse" message="tns:getPieceMatrixResponse"/>
</operation>
<operation name="setPieceCell">
<input wsam:Action="http://com/objCellMatrix/setPieceCellRequest" message="tns:setPieceCell"/>
<output wsam:Action="http://com/objCellMatrix/setPieceCellResponse" message="tns:setPieceCellResponse"/>
</operation>
</portType>
<binding name="objCellMatrixPortBinding" type="tns:objCellMatrix">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPlayerCell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPieceCell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPlayerCell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetMatrix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="objCellMatrix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkWinner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlayerMatrix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPieceMatrix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPieceCell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="objCellMatrix">
<port name="objCellMatrixPort" binding="tns:objCellMatrixPortBinding">
<soap:address location="http://localhost:8080/chessServer/objCellMatrix"/>
</port>
</service>
</definitions>