src/conf/xml-resources/web-service-references/objKing/wsdl/localhost_8080/chessServer/objKing.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://com/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/chessServer/objKing?xsd=1"/>

<xs:element name="getDesColumn" type="tns:getDesColumn"/>

<xs:element name="getDesColumnResponse" type="tns:getDesColumnResponse"/>

<xs:element name="getDesRow" type="tns:getDesRow"/>

<xs:element name="getDesRowResponse" type="tns:getDesRowResponse"/>

<xs:element name="getErrorMsg" type="tns:getErrorMsg"/>

<xs:element name="getErrorMsgResponse" type="tns:getErrorMsgResponse"/>

<xs:element name="legalMove" type="tns:legalMove"/>

<xs:element name="legalMoveResponse" type="tns:legalMoveResponse"/>

<xs:element name="objKing" type="tns:objKing"/>

<xs:element name="objKingResponse" type="tns:objKingResponse"/>

<xs:complexType name="legalMove">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="ns1:intArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="arg5" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="legalMoveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDesColumn">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDesColumnResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="objKing">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="objKingResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getErrorMsg">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getErrorMsgResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDesRow">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDesRowResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>