web/WEB-INF/wsdl/localhost_8080/chessServer/objPaintInstruction.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com/">

<xs:element name="getColumnCells" type="tns:getColumnCells"/>

<xs:element name="getColumnCellsResponse" type="tns:getColumnCellsResponse"/>

<xs:element name="getRowCells" type="tns:getRowCells"/>

<xs:element name="getRowCellsResponse" type="tns:getRowCellsResponse"/>

<xs:element name="getStartColumn" type="tns:getStartColumn"/>

<xs:element name="getStartColumnResponse" type="tns:getStartColumnResponse"/>

<xs:element name="getStartRow" type="tns:getStartRow"/>

<xs:element name="getStartRowResponse" type="tns:getStartRowResponse"/>

<xs:element name="setMatrix" type="tns:setMatrix"/>

<xs:element name="setMatrixResponse" type="tns:setMatrixResponse"/>

<xs:complexType name="getColumnCells">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getColumnCellsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStartColumn">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getStartColumnResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setMatrix">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setMatrixResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getStartRow">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getStartRowResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRowCells">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRowCellsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>