web/WEB-INF/wsdl/localhost_8080/chessServer/objPaintInstruction.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com/" name="objPaintInstruction">
<types>
<xsd:schema>
<xsd:import namespace="http://com/" schemaLocation="http://localhost:8080/chessServer/objPaintInstruction?xsd=1"/>
</xsd:schema>
</types>
<message name="getColumnCells">
<part name="parameters" element="tns:getColumnCells"/>
</message>
<message name="getColumnCellsResponse">
<part name="parameters" element="tns:getColumnCellsResponse"/>
</message>
<message name="setMatrix">
<part name="parameters" element="tns:setMatrix"/>
</message>
<message name="setMatrixResponse">
<part name="parameters" element="tns:setMatrixResponse"/>
</message>
<message name="setMatrix">
<part name="parameters" element="tns:setMatrix"/>
</message>
<message name="setMatrixResponse">
<part name="parameters" element="tns:setMatrixResponse"/>
</message>
<message name="getStartRow">
<part name="parameters" element="tns:getStartRow"/>
</message>
<message name="getStartRowResponse">
<part name="parameters" element="tns:getStartRowResponse"/>
</message>
<message name="getStartColumn">
<part name="parameters" element="tns:getStartColumn"/>
</message>
<message name="getStartColumnResponse">
<part name="parameters" element="tns:getStartColumnResponse"/>
</message>
<message name="getRowCells">
<part name="parameters" element="tns:getRowCells"/>
</message>
<message name="getRowCellsResponse">
<part name="parameters" element="tns:getRowCellsResponse"/>
</message>
<portType name="objPaintInstruction">
<operation name="getColumnCells">
<input wsam:Action="http://com/objPaintInstruction/getColumnCellsRequest" message="tns:getColumnCells"/>
<output wsam:Action="http://com/objPaintInstruction/getColumnCellsResponse" message="tns:getColumnCellsResponse"/>
</operation>
<operation name="setMatrix">
<input wsam:Action="http://com/objPaintInstruction/setMatrixRequest" message="tns:setMatrix"/>
<output wsam:Action="http://com/objPaintInstruction/setMatrixResponse" message="tns:setMatrixResponse"/>
</operation>
<operation name="setMatrix">
<input wsam:Action="http://com/objPaintInstruction/setMatrixRequest" message="tns:setMatrix"/>
<output wsam:Action="http://com/objPaintInstruction/setMatrixResponse" message="tns:setMatrixResponse"/>
</operation>
<operation name="getStartRow">
<input wsam:Action="http://com/objPaintInstruction/getStartRowRequest" message="tns:getStartRow"/>
<output wsam:Action="http://com/objPaintInstruction/getStartRowResponse" message="tns:getStartRowResponse"/>
</operation>
<operation name="getStartColumn">
<input wsam:Action="http://com/objPaintInstruction/getStartColumnRequest" message="tns:getStartColumn"/>
<output wsam:Action="http://com/objPaintInstruction/getStartColumnResponse" message="tns:getStartColumnResponse"/>
</operation>
<operation name="getRowCells">
<input wsam:Action="http://com/objPaintInstruction/getRowCellsRequest" message="tns:getRowCells"/>
<output wsam:Action="http://com/objPaintInstruction/getRowCellsResponse" message="tns:getRowCellsResponse"/>
</operation>
</portType>
<binding name="objPaintInstructionPortBinding" type="tns:objPaintInstruction">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getColumnCells">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setMatrix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setMatrix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStartRow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStartColumn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRowCells">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="objPaintInstruction">
<port name="objPaintInstructionPort" binding="tns:objPaintInstructionPortBinding">
<soap:address location="http://localhost:8080/chessServer/objPaintInstruction"/>
</port>
</service>
</definitions>