src/conf/xml-resources/web-service-references/objBishop/wsdl/localhost_8080/chessServer/objBishop.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com/" name="objBishop">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://shilpa:8080/chessServer/objBishop?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://com/" schemaLocation="http://shilpa:8080/chessServer/objBishop?xsd=2"/>
</xsd:schema>
</types>
<message name="legalMove">
<part name="parameters" element="tns:legalMove"/>
</message>
<message name="legalMoveResponse">
<part name="parameters" element="tns:legalMoveResponse"/>
</message>
<message name="objBishop">
<part name="parameters" element="tns:objBishop"/>
</message>
<message name="objBishopResponse">
<part name="parameters" element="tns:objBishopResponse"/>
</message>
<message name="getDesColumn">
<part name="parameters" element="tns:getDesColumn"/>
</message>
<message name="getDesColumnResponse">
<part name="parameters" element="tns:getDesColumnResponse"/>
</message>
<message name="getDesRow">
<part name="parameters" element="tns:getDesRow"/>
</message>
<message name="getDesRowResponse">
<part name="parameters" element="tns:getDesRowResponse"/>
</message>
<message name="getErrorMsg">
<part name="parameters" element="tns:getErrorMsg"/>
</message>
<message name="getErrorMsgResponse">
<part name="parameters" element="tns:getErrorMsgResponse"/>
</message>
<portType name="objBishop">
<operation name="legalMove">
<input wsam:Action="http://com/objBishop/legalMoveRequest" message="tns:legalMove"/>
<output wsam:Action="http://com/objBishop/legalMoveResponse" message="tns:legalMoveResponse"/>
</operation>
<operation name="objBishop">
<input wsam:Action="http://com/objBishop/objBishopRequest" message="tns:objBishop"/>
<output wsam:Action="http://com/objBishop/objBishopResponse" message="tns:objBishopResponse"/>
</operation>
<operation name="getDesColumn">
<input wsam:Action="http://com/objBishop/getDesColumnRequest" message="tns:getDesColumn"/>
<output wsam:Action="http://com/objBishop/getDesColumnResponse" message="tns:getDesColumnResponse"/>
</operation>
<operation name="getDesRow">
<input wsam:Action="http://com/objBishop/getDesRowRequest" message="tns:getDesRow"/>
<output wsam:Action="http://com/objBishop/getDesRowResponse" message="tns:getDesRowResponse"/>
</operation>
<operation name="getErrorMsg">
<input wsam:Action="http://com/objBishop/getErrorMsgRequest" message="tns:getErrorMsg"/>
<output wsam:Action="http://com/objBishop/getErrorMsgResponse" message="tns:getErrorMsgResponse"/>
</operation>
</portType>
<binding name="objBishopPortBinding" type="tns:objBishop">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="legalMove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="objBishop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDesColumn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDesRow">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrorMsg">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="objBishop">
<port name="objBishopPort" binding="tns:objBishopPortBinding">
<soap:address location="http://localhost:8080/chessServer/objBishop"/>
</port>
</service>
</definitions>